.viewer
  - if file.video?
    %video{src: file.s3_url.to_s, type: file.mime_type,  controls: "controls", preload: "metadata" , width:"600px"}
      Your browser does not support the audio tag.
  - elsif file.audio?
    %audio{src: file.s3_url.to_s, type: file.mime_type,  controls: "controls", preload: "metadata" }
      Your browser does not support the audio tag.
  - elsif file.image?
    %img{src:file.s3_url.to_s, width:"600px"}
  - else 
    %i.icon-file
    
  %ul.actions
    %li= link_to "download", file.s3_url.to_s
    - if file.spreadsheet?
      %li
        = link_to "spawn entities from each row of this file", new_identity_pool_spawn_job_path(@identity, @pool, source_node_id:file.id)

