-content_for :head do
  :javascript
    $(function() {
      window.router = new Cocupu.Routers.ModelsRouter({pool: #{@pool.to_json.html_safe}, models: #{@models.to_json.html_safe}, data_sources: #{@data_sources.to_json.html_safe}, identity: "#{@identity.short_name}"});
      Backbone.history.start();
    });




