%dl
  %dt Id
  %dd=@job_log_item.id
  %dt Name
  %dd=@job_log_item.name
  %dt Status
  %dd=@job_log_item.status
  %dt Created At
  %dd=@job_log_item.created_at
  %dt Updated At
  %dd=@job_log_item.updated_at
