.subnav.subnav-fixed
  %ul.models.nav.nav-pills
    -@models.limit(20).each do |m|
      %li{:class=> @model && m.id == @model.id ? 'active' : ''}
        =link_to edit_model_path(m) do
          %h2=m.name

    %li=link_to "New Type of Entity", new_model_path

