.subnav.subnav-fixed
  %ul.models.nav.nav-pills.nav-stacked
    -@models.limit(20).each do |m|
      %li{:class=> (@model && m.id == @model.id) || (@node && m.id == @node.model_id) ? 'active' : '', :id=>"menu#{m.id}"}
        =link_to m.name, "/models#/#{m.id}/search"

    %li=link_to "New Type of Entity", new_model_path

