-content_for :head do
  :javascript
    $(function() {
      window.router = new Cocupu.Routers.ModelsRouter({identity: "#{@identity.short_name}", pool: #{@pool.to_json.html_safe}, models: #{@models.to_json.html_safe}});
      Backbone.history.start();
    });


= render partial: "model", collection: @models