%h1 My Drive

%table
  %thead
    %tr
      %th Title
      %th
      %th Owner
      %th Last Modified 
  %tbody
    -@files.each do |file|
      %tr
        %td=file.title
        %td=file.id
        %td=file.userPermission.inspect
        %td=file.modifiedDate
