<td><%= title %></td>
<td>
  <% if (type == 'spreadsheet') { %>
    <a href="<%=  '/' + window.router.identity + '/' + window.router.pool.short_name + "/drives/spawn?id=" + id %>">Spawn</a>
  <% } %>
</td>
<td><%= owner %></td>
<td><%= date %></td>
