<td><%= title %></td>
<td>
  <% if (type == 'spreadsheet') { %>
    <a href="<%=  "/pools/" + window.router.pool.id + "/drives/spawn?id=" + id %>">Spawn</a>
  <% } %>
</td>
<td><%= owner %></td>
<td><%= date %></td>
