<tr class="association">
  <td>
    <a href="#" data-bind="text: title, click: $root.loadAndOpenEntity"></a>
  </td>
  <td>
    <a href="#" class="remove" data-bind="click: function(data, event) { $root.removeAssociation($parent.code, data, event) }">x</a>
  </td>
</tr>
