<div class="association ui-droppable" data-bind="foreach: model.associations, visible: model.associations.length > 0">
  <h4 data-bind="text: label"></h4>
  <a href="#" data-bind="click: $root.openAssociationSearchPane">Add more</a>
  <table class="table table-bordered table-striped" data-bind="foreach: $parent.associations[name]">
    <%= render partial: "nodes/association"%>
  </table>
</div>
<%- unless @model.allows_file_bindings? %>
  <%= render partial: "nodes/files_list"%>
<%- end %>


