%h1="Instances of #{@model.name}"
=@nodes.count
total records

%ul.model_instances
  -@nodes.limit(100).each do |inst|
    %li
      %div
        %dl
          %dt ID:
          %dd=inst.persistent_id
          -@model.fields.each do |field|
            -if inst.data[field[:code]]
              %dt #{field[:name]}: 
              %dd=inst.data[field[:code]]
     
