%h1="Instances of #{@model.name}"
=@model.instances.count
total records

%ul.model_instances
  -@model.instances.each do |inst|
    %li
      %dl
        %dt ID:
        %dd=inst.persistent_id
        -inst.data.each do |key, value|
          %dt #{@model.fields[key]}: 
          %dd=value
      .clear
     
