:javascript
  $(function() {
    // Blog is the app name
    window.router = new Cocupu.Routers.EntitiesRouter({entities: #{ @nodes.to_json.html_safe}, models: #{@models.to_json.html_safe}});
    Backbone.history.start();
  });

=render partial: 'models/models_list'
%div.content#entities
       
