%h1="Instances of #{@model.name}"
=@model.instances.count
total records

%ul.model_instances
  -@models.instances.limit(100).each do |inst|
    %li
      %div
        %dl
          %dt ID:
          %dd=inst.persistent_id
          -inst.data.each do |key, value|
            -if value
              %dt #{@model.fields[key]}: 
              %dd=value
     
