%h1="Instances of #{@model.name}"
=@model.instances.count
total records

%ul.model_instances
  -@model.instances.each do |inst|
    %li
      %dl
        %dt ID:
        %dd=inst.id
        -inst.properties.each do |prop|
          %dt #{prop.field.label}: 
          %dd=prop.value
      .clear
     
