=render partial: 'models/models_list'
%div.content
  %h1 New #{@node.model.name}
  =form_for @node do |f|
    =f.hidden_field :model_id
    -@node.model.fields.each do |field|
      =draw_field(field)
    =f.submit "Create Entity", :class=>'btn btn-primary'
