<div class="panel" data-bind="with: selectedModel">
<div class="panel-header">
  <a href="#" class="close">×</a>
  <h3>Search for <span data-bind="text: name"></span>s</h3>
</div>
<div class="panel-body">
  <form class="form-search">
    <div class="input-append">
      <input id="query" type="text" class="input-medium search-query" data-bind="value: $root.entityQuery, click: $root.entitySearch">
      <button type="submit" class="btn" data-bind="click: $root.entitySearch">Search</button>
    </div>
  </form>
  <ul data-bind="foreach: $root.viewModes">
    <li><a href="#" data-bind="text: $data, click: $root.setViewMode"></a></li> 
  </ul>
  <table class="results table table-bordered table-striped" data-bind="foreach: $root.results, visible: $root.currentViewMode() == 'Explore'">
    <tr><td><a href="#" data-bind="text: title"></td></tr>
  </table>
  <%= render file: "nodes/edit_grid" %>
  <nav>
    <ul>
      <li><span style="color: gray">Input and Output formats</a></li>
      <li><a href="#" data-bind="click: $root.openModelEditPane">Metadata and Associations</a></li>
      <li><a class="create-new" data-bind="click: $root.createEntity">Create new</a></li>
    </ul>
  </nav>
</div>
</div>
