<div class="panel" data-bind="with: $root.selectedSearchContext, visible: $root.selectedSearchContext">
  <div class="panel-header">
    <a href="#" class="close">×</a>
    <h3 data-bind="text: title"></h3>
    </span>
    <nav>
      <ul>
        <li data-bind="visible: $root.selectedSearchContext().state() == 'search'"><a class="create-new" data-bind="click: $root.selectedSearchContext().showCreateForm, visible: $root.selectedSearchContext().state() == 'search'">Create new</a></li>
        <li data-bind="visible: $root.selectedSearchContext().state() == 'create'"><a class="create-new" data-bind="click: $root.selectedSearchContext().showSearch">Cancel and Return to Association Search</a></li>
      </ul>
    </nav>
  </div>
  <div class="panel-body" data-bind="visible: $root.selectedSearchContext().state() == 'search'">
    <%= render partial: "nodes/search_form"%>
    <div class="selected results" data-bind="visible: selected().length > 0">
      <h4>Selected:</h4>
      <a href="#" class="submit button" data-bind="click: $root.submitSelectedFromSearch">add these</a>
      <table class="results table table-bordered table-striped" data-bind="foreach: selected">
        <tr><td>
          <a href="#" data-bind="text: title, click: $root.openEntity"></a>
        </td><td>
          <a href="#" class="remove" data-bind="click: $root.deselectEntityFromSearch">X</a>
        </td></tr>
      </table>   
    </div> 
    <table class="results table table-bordered table-striped" data-bind="foreach: results">
      <tr><td><input type="checkbox" data-bind="checked: $parent.selectedIds, value: persistent_id" /><a href="#" data-bind="text: title, click: $root.openEntity"></td></tr>
    </table>
  </div>
  <div class="panel-body" data-bind="visible: $root.selectedSearchContext().state() == 'create'">
    <%= form_for @node, url: identity_pool_node_path(@identity.short_name, @pool.short_name, @node),"accept-charset" => "UTF-8", html: {class: "metadata"}  do |f| %>
      <!-- ko with: model().templateEntity() -->
        <%= render partial: "nodes/field" %>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary" data-bind="click: $root.submitNewEntityFromSearch">Save</button>
        </div>
      <!-- /ko  -->
    <% end %>
    </form>
  </div>
</div>

