<div class="palate-drawer panel" data-bind="with: selectedModel, visible: ($root.currentViewMode() == 'Explore') && selectedModel">
  <div class="panel-header">
    <a href="#" class="close">×</a>
    <h3>Search for <span data-bind="text: name"></span>s</h3>
    <span class="action toggle viewMode"data-bind="with: $root.viewModes()[1]">
      <a href="#" data-bind="click: $root.setViewMode">Edit like Spreadsheet</a>
    </span>
  </div>
  <div class="panel-body">
    <%= render partial: "nodes/search_form"%>
    <table class="results table table-bordered table-striped" data-bind="foreach: $root.results">
      <tr><td><a href="#" data-bind="text: title, click: $root.openEntity"></td></tr>
    </table>
    <%= render file: "nodes/edit_grid" %>
    <nav>
      <ul>
        <li><span style="color: gray">Input and Output formats</a></li>
        <li><a href="#" data-bind="click: $root.openModelEditPane">Metadata and Associations</a></li>
        <li><a class="create-new" data-bind="click: $root.createEntity">Create new</a></li>
      </ul>
    </nav>
  </div>
</div>

