<!-- ko foreach: selectedEntities -->
<div class="showView panel">
  <div class="panel-header">
    <a href="#" class="close" data-bind="click: $root.closeEntity">×</a>
    <span class="modelName" data-bind="text: model.name, attr: {class: model.id}"></span>
    <h3 data-bind="text: title"></h3>
  </div>
  
  <div class="panel-body">
    <form accept-charset="UTF-8" class="metadata">
      <%= render file: "nodes/showField" %>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary" data-bind="click: $root.updateEntity">Save</button> <span id="lastSavedAt" data-bind="text: lastSavedAt"></span>
      </div>
    </form>
    <div class="associations">
      <%= render file: "nodes/showAssociation"%>
    </div>
  </div>
  <div class="panel-footer">
    <nav>
      <a href="#<model_id>/edit">Change Structure</a>
    </nav>
  </div>
</div>
<!-- /ko -->

