<form class="form-search">
  <div class="input-append">
    <input id="query" type="text" class="input-medium search-query" data-bind="value: $root.s3Query, click: $root.runS3Search">
    <button type="submit" class="btn" data-bind="click: $root.runS3Search">Search</button>
  </div>
</form>