=content_for :page_name do
  Select the worksheet to import
=form_for :mapping_template, :url=> new_mapping_template_path, :method=>:get do |f|
  =f.label :worksheet_id, 'Worksheet:'
  .input
    =f.collection_select 'worksheet_id', @spreadsheet.worksheets, :id, :name
  .clearfix
  .input
    =f.submit "Next", :class=>'btn btn-primary'
