%tr
  %td
    =row[:source]
    =radio_button_tag("#{parent}[label]", 'true' )
    =hidden_field_tag("#{root}[source]", row[:source], :class=>'xsmall')
  %td=text_field_tag "#{root}[label]", row[:label]


