%tr
  %td=text_field_tag "#{root}[label]"
  %td=select_tag("#{root}[source]", options_for_select( 0.upto(@worksheet.rows[0].values.size).map{|n| (n+65).chr}, {:include_blank=>true}), :class=>'xsmall')


