-if @worksheet.rows[0]
  %table#data.scrollable
    %thead
      %tr
        %td 1
        -@worksheet.rows[0].values.each do |row|
          %th=row
    %tbody
      -@worksheet.rows[1..3].each_with_index do |row, n|
        %tr
          %td=n+2
          -row.values.each do |val|
            -if val.nil?
              %td &nbsp; 
            -elsif val.to_s.size > 100
              %td.wrappable=val
            -else 
              %td=val 

-else
  Spreadsheet has not yet been processed



