%h1 Mapping
%dl
  %dt Start Row
  %dd=@mapping_template.row_start
%ul
  -@mapping_template.model_mappings.each do |values|
    %li
      - model = Model.find(values[:model_id])
      =link_to model.name, model_path(model)
      %br/ 
      Columns:
      %ul
        -values[:field_mappings].each do |value|
          %li
            =value[:source]
            -if value[:field]
              &rarr;
              =value[:field]
              (#{value[:label]})
