%h1 Mapping
%dl
  %dt Start Row
  %dd=@mapping_template.row_start
%ul
  -@mapping_template.models.each do |model|
    %li
      =link_to model['name'], model_path(model['name'])
      %br/ 
      Columns:
      %ul
        -model.field_mappings.each do |column|
          %li
            =column['source']
            &rarr;
            =column['label']
