%h1 Mapping
%dl
  %dt Start Row
  %dd=@mapping_template.row_start
%ul
  -@mapping_template.models.each do |model_id, values|
    %li
      - model = Model.find(model_id)
      =link_to model.name, model_path(model)
      %br/ 
      Columns:
      %ul
        -values[:field_mappings].each do |source, value|
          %li
            =source
            &rarr;
            =value
