<div class="panel" data-bind="for: model">
<div class="panel-header">
  <a href="#" class="close">×</a>
  <h3>Search for <span data-bind="text: name"/></h3>
</div>
<div class="panel-body">
  <form class="form-search">
    <div class="input-append">
      <input id="query" type="text" class="input-medium search-query">
      <button type="submit" class="btn">Search</button>
    </div>
  </form>
  <table class="results table table-bordered table-striped" data-bind="foreach: entities">
    <tr><td><a href="#" data-bind="text: title, click: $root.openEntity"></td></tr>
  </table>

  <nav>
    <ul>
      <li><span style="color: gray">Input and Output formats</a></li>
      <li><a href="#" data-bind="click: $root.openModelEditPane">Metadata and Associations</a></li>
      <li><a class="create-new" data-bind="click: $root.createEntity">Create new</a></li>
    </ul>
  </nav>
</div>
