%div.exhibit
  %h3= exhibit.title
  =link_to "edit", edit_identity_pool_exhibit_path(@identity, @pool, exhibit).html_safe
  
  %ul
    %li
      Exhibit URL:
      =link_to identity_exhibit_url(@identity, exhibit), identity_exhibit_path(@identity, exhibit)
    %li
      =link_to "View as Perspective", identity_pool_search_path(@identity, @pool, perspective: exhibit.id)
      