%p.title=link_to item.data[item.model.label], identity_pool_path(@identity, @pool, :anchor=>"entity/#{item.persistent_id}")
%dl.dl-horizontal
  %dt ID
  %dd
    =item.persistent_id
    \/
    =item.id

  -item.model.fields.each do |field|
    -if @exhibit.index_fields.include?(field['code'])
      -if item.data[field['code']].present?
        %dt=field['name']
        %dd=item.data[field['code']]
.clear
