%h1 Exhibits

%ul
  -@exhibits.each do |exhibit|
    %li
      =link_to exhibit.title, identity_pool_exhibit_path(@identity, @pool, exhibit)
      ="(#{link_to "edit", edit_identity_pool_exhibit_path(@identity, @pool, exhibit)})".html_safe

=link_to "Create a new exhibit", new_identity_pool_exhibit_path(@identity, @pool), :class=>'btn btn-primary'
