%h1
  #{@exhibit.title }
  =link_to "edit", edit_exhibit_path(@exhibit), :class=>'button small right'

=form_for :search, :url=>exhibit_path(@exhibit), :method=>:get, :html=>{:id=>'search'} do
  =text_field_tag :q, params[:q]
  =submit_tag "Search"

-if @results
  %h2 found #{pluralize(@total, 'result')}
  %ul.exhibits
    -@results.each do |result|
      %li= render :partial=>'item', :locals=>{:item=>result}
  .facets
    %h2 Facets:
    %ul
      -@facet_fields.each do |facet_key, facet_value|
        %li
          .facet=facet_key
          %ul
            -while facet_value.present? do
              -arg = facet_value.shift(2)
              %li
                = render_facet_link(facet_key, arg[0], arg[1])


