<div id="sortAndPerPage">
   <div class="page_links">
     <%= render :partial => "paginate_compact" %>
   </div>

    <%= render partial: "view_type_chooser" %>
    <%= render :partial => 'sort_widget' %>

    <%= render :partial => 'per_page_widget' %>



</div>
