.headsup.row-fluid
  .panel.panel-default.search

  .panel.panel-default.info.detail.selectedItems
    .panel-body{"ng-hide"=>"selectedNodes.length > 0"}
      %div.emptyMessage
        Select a cell to see details here.
    .panel-body{"ng-repeat"=>"node in selectedNodes"}
      .panelHeader.panel-header
        %h3 {{node.title}}
        %span.savedIndicator{"ng-switch"=>true, "on"=>"node.dirty"}
          {{node.dirty}}
          %span.message{"ng-switch-when"=>"true"} You have unsaved changes
          %span.message{"ng-switch-when"=>"false"} Saved at: {{node.lastUpdated}}
        %button.btn.btn-default.pull-right{type:"button", "ng-click"=>"updateNode(node)"}=t('bindery.nodes.save_changes')
      %form.node-editor.panel-body
        -# fields & associations
        %div.field.clearfix{"ng-repeat"=>"fieldConfig in currentModel.fields.concat(currentModel.associations)"}
          %label
            {{fieldConfig.name}}
            %span.field-helper{"ng-show"=>"fieldConfig.type == 'date'"} {{node.data[fieldConfig.code]}}
          %span{"ng-switch"=>true, "on"=>"fieldConfig.type"}
            %textarea{"ng-switch-when"=>"textarea", "ng-model"=>"node.data[fieldConfig.code]", "id"=>"{{node.persistent_id+'_'+fieldConfig.code}}", class:"fieldControl colt{{$index}} col{{$index}}"}
            %input{"ng-switch-when"=>"date", type:"date", "ng-model"=>"node.data[fieldConfig.code]", "id"=>"{{node.persistent_id+'_'+fieldConfig.code}}", class:"fieldControl colt{{$index}} col{{$index}}"}
            %input{"ng-switch-when"=>"Has Many", "id"=>"{{node.persistent_id+'_'+fieldConfig.code}}","bindery-token-input"=>"nodeTokeninputOptions","data-url"=>"searchUrl+'?rows=100&model_id='+fieldConfig.references","ng-model"=>"node.associations[fieldConfig.code]", multiple:true, class:"fieldControl colt{{$index}} col{{$index}}"}
            %input{"ng-switch-default"=>"true", "ng-model"=>"node.data[fieldConfig.code]", "id"=>"{{node.persistent_id+'_'+fieldConfig.code}}", class:"fieldControl colt{{$index}} col{{$index}}"}
          %a.pull-right.config-field{"onClick"=>"$('#modelField_{{fieldConfig.code}}_name').focus()"} config field

  .panel.panel-default.info.supplemental.empty
    .panel-body{"ng-hide"=>"selectedNodes.length > 0"}
      .emptyMessage
        Select a cell to see details here.
    .panelHeader.panel-header{"ng-show"=>"currentModel && (selectedNodes.length > 0)"}
      %h3 {{currentModel.name}}
      %span.savedIndicator{"ng-switch"=>true, "on"=>"currentModel.dirty"}
        %span.message{"ng-switch-when"=>"true"} You have unsaved changes
        %span.message{"ng-switch-when"=>"false"} Saved at: {{currentModel.lastUpdated}}
      %button.btn.btn-default.pull-right{type:"button", "ng-click"=>"updateModel(currentModel)"}=t('bindery.models.save_changes')
    %form.model-editor.panel-body{"ng-show"=>"currentModel && (selectedNodes.length > 0)"}
      -# fields and associations
      %div.clearfix{"ng-repeat"=>"fieldConfig in currentModel.fields.concat(currentModel.associations)", "id"=>"{{'modelField_'+fieldConfig.code}}"}
        %h4 {{fieldConfig.name}}
        %div.field.clearfix
          %label.pull-left Label
          %input{"ng-model"=>"fieldConfig.name", "id"=>"{{'modelField_'+fieldConfig.code+'_name'}}"}
        %div.field.clearfix
          %label.pull-left Code
          .value {{fieldConfig.code}}
        %div.field.clearfix
          %label.pull-left Type
          %select{"ng-model"=>"fieldConfig.type", "ng-options"=>"item.id as item.label for item in typeOptionsFor(fieldConfig.type)"}
        %div.field.clearfix{"ng-show"=>"fieldConfig.type == 'Has Many'", class:"animate-hide"}
          %label.pull-left References
          %input{"ng-model"=>"fieldConfig.references"}
        %div.field.clearfix
          %label.pull-left URI
          .value {{fieldConfig.uri}}
        %div.field.clearfix
          %label.pull-left Multivalue
          %input{type:"checkbox", "ng-model"=>"fieldConfig.multivalue"}
        %div.field.clearfix
          %label.pull-left Description
          %textarea{"ng-model"=>"fieldConfig.description"}
