.headsup.row-fluid
  .panel.panel-default.info
    .panel-body

  .panel.panel-default.detail.selectedItems.node
    .panel-body{"ng-hide"=>"selectedNodes.length > 0"}
      %div.emptyMessage
        Select a cell to see details here.
    .panel-body{"ng-repeat"=>"node in selectedNodes"}
      .panelHeader.panel-header
        %h3 {{node.title}}
        %span.savedIndicator{"ng-switch"=>true, "on"=>"node.dirty"}
          %span.message{"ng-switch-when"=>"true"} You have unsaved changes
          %span.message{"ng-switch-when"=>"false"} Saved at: {{node.lastUpdated}}
        %button.btn.btn-default.pull-right{type:"button", "ng-click"=>"updateNode(node)"}=t('bindery.nodes.save_changes')
      %form.node-editor.panel-body
        -# fields & associations
        %div.field.clearfix{"ng-repeat"=>"fieldConfig in node.model().fields.concat(node.model().associations)"}
          %label
            {{fieldConfig.name}}
            %span.field-helper{"ng-show"=>"fieldConfig.type == 'date'"} {{node.data[fieldConfig.code]}}
          %span{"ng-switch"=>true, "on"=>"fieldConfig.type"}
            %textarea{"ng-switch-when"=>"textarea", "ng-model"=>"node.data[fieldConfig.code]", "ng-focus"=>"focusOnField(fieldConfig)", "id"=>"{{node.persistent_id+'_'+fieldConfig.code}}", class:"fieldControl colt{{$index}} col{{$index}}"}
            %input{"ng-switch-when"=>"date", type:"date", "ng-model"=>"node.data[fieldConfig.code]", "ng-focus"=>"focusOnField(fieldConfig)", "id"=>"{{node.persistent_id+'_'+fieldConfig.code}}", class:"fieldControl colt{{$index}} col{{$index}}"}
            %input{"ng-switch-when"=>"Has Many", "id"=>"{{node.persistent_id+'_'+fieldConfig.code}}", "ng-focus"=>"focusOnField(fieldConfig)", "bindery-token-input"=>"nodeTokeninputOptions","data-url"=>"searchUrl+'?rows=100&model_id='+fieldConfig.references","ng-model"=>"node.associations[fieldConfig.code]", "data-field-config"=>"{{fieldConfig}}", multiple:true, class:"fieldControl colt{{$index}} col{{$index}}"}
            %input{"ng-switch-default"=>"true", "ng-model"=>"node.data[fieldConfig.code]", "ng-focus"=>"focusOnField(fieldConfig)", "id"=>"{{node.persistent_id+'_'+fieldConfig.code}}", class:"fieldControl colt{{$index}} col{{$index}}"}

  -# Supplemental Panel

  %ng-switch{"on"=>"supplementalPanelState"}

    -# -- Supplemental node info
    .panel.panel-default.info.supplemental.node{"ng-switch-when"=>"node"}
      .panelHeader.panel-header
        %h3 {{supplementalNode.title}}
        -#%span.savedIndicator{"ng-switch"=>true, "on"=>"supplementalNode.dirty"}
        -#  %span.message{"ng-switch-when"=>"true"} You have unsaved changes
        -#  %span.message{"ng-switch-when"=>"false"} Saved at: {{node.lastUpdated}}
        -#%button.btn.btn-default.pull-right{type:"button", "ng-click"=>"updateNode(supplementalNode)"}=t('bindery.nodes.save_changes')
      %form.node-editor.panel-body
        -# fields & associations
        %div.field.clearfix{"ng-repeat"=>"fieldConfig in supplementalNode.model().fields.concat(supplementalNode.model().associations)"}
          %label
            {{fieldConfig.name}}
            %span.field-helper{"ng-show"=>"fieldConfig.type == 'date'"} {{supplementalNode.data[fieldConfig.code]}}
          %span{"ng-switch"=>true, "on"=>"fieldConfig.type"}
            %p{"ng-switch-when"=>"textarea", "ng-model"=>"supplementalNode.data[fieldConfig.code]", "ng-focus"=>"focusOnField(fieldConfig)", "id"=>"{{supplementalNode.persistent_id+'_'+fieldConfig.code}}", class:"fieldControl colt{{$index}} col{{$index}}"}
              {{supplementalNode.data[fieldConfig.code]}}
            %div{"ng-switch-when"=>"date", type:"date", "ng-model"=>"supplementalNode.data[fieldConfig.code]", "ng-focus"=>"focusOnField(fieldConfig)", "id"=>"{{supplementalNode.persistent_id+'_'+fieldConfig.code}}", class:"fieldControl colt{{$index}} col{{$index}}"}
              {{supplementalNode.data[fieldConfig.code]}}
            %input{"ng-switch-when"=>"Has Many", "id"=>"{{supplementalNode.persistent_id+'_'+fieldConfig.code}}", "ng-focus"=>"focusOnField(fieldConfig)", "bindery-token-input"=>"nodeTokeninputOptions","data-url"=>"searchUrl+'?rows=100&model_id='+fieldConfig.references","ng-model"=>"supplementalNode.associations[fieldConfig.code]", "data-field-config"=>"{{fieldConfig}}", multiple:true, class:"fieldControl colt{{$index}} col{{$index}}"}
            %div{"ng-switch-default"=>"true", "ng-model"=>"supplementalNode.data[fieldConfig.code]", "ng-focus"=>"focusOnField(fieldConfig)", "id"=>"{{supplementalNode.persistent_id+'_'+fieldConfig.code}}", class:"fieldControl colt{{$index}} col{{$index}}"}
              {{supplementalNode.data[fieldConfig.code]}}

    -# -- Supplemental field info
    .panel.panel-default.info.supplemental.field{"ng-switch-when"=>"field"}
      .panelHeader.panel-header
        %h3 {{focusedField.name}}
        %a.pull-right.config-field{"ng-click"=>"configField(focusedField)"} configure field
      .panel-body
        %dl.list-group
          %dt.short Current value:
          %dd.short {{selectedNodes[0].data[focusedField.code] || "not set"}}
          %dt.short Type
          %dd.short {{focusedField.type || "not set"}}
          %dt
            Limit Search by
            %span.knock-back {{focusedField.name}}
          %dd
            %bindery-facet-values.list-group.facets{"values"=>"searchResponse.facet_counts.facet_fields[focusedField.code+'_facet']", "data-field"=>"focusedField"}
          %dt Description
          %dd {{focusedField.description}}

    -# -- Supplemental model info
    .panel.panel-default.info.supplemental.model{"ng-switch-when"=>"model"}
      .panel-body{"ng-hide"=>"selectedNodes.length > 0"}
        .emptyMessage
          Select a cell to see details here.
      .panelHeader.panel-header{"ng-show"=>"currentModel && (selectedNodes.length > 0)"}
        %h3 {{currentModel.name}}
        %span.savedIndicator{"ng-switch"=>true, "on"=>"currentModel.dirty"}
          %span.message{"ng-switch-when"=>"true"} You have unsaved changes
          %span.message{"ng-switch-when"=>"false"} Saved at: {{currentModel.lastUpdated}}
        %a{"ng-click"=>"currentModel.addField()"} Add Field
        %a{"ng-click"=>"currentModel.addAssociation()"} Add Association
        %button.btn.btn-default.pull-right{type:"button", "ng-click"=>"updateModel(currentModel)"}=t('bindery.models.save_changes')
      %form.model-editor.panel-body{"ng-show"=>"currentModel && (selectedNodes.length > 0)"}
        -# fields and associations
        %div.clearfix{"ng-repeat"=>"fieldConfig in currentModel.fields.concat(currentModel.associations)", "id"=>"{{'modelField_'+fieldConfig.code}}"}
          %h4 {{fieldConfig.name}}
          %div.field.clearfix
            %label.pull-left Label
            %input{"ng-model"=>"fieldConfig.name", "id"=>"{{'modelField_'+fieldConfig.code+'_name'}}"}
          %div.field.clearfix
            %label.pull-left Code
            .value {{fieldConfig.code}}
          %div.field.clearfix
            %label.pull-left Type
            %select{"ng-model"=>"fieldConfig.type", "ng-options"=>"item.id as item.label for item in typeOptionsFor(fieldConfig.type)"}
          %div.field.clearfix{"ng-show"=>"fieldConfig.type == 'Has Many'", class:"animate-hide"}
            %label.pull-left References
            %input{"ng-model"=>"fieldConfig.references"}
          %div.field.clearfix
            %label.pull-left URI
            .value {{fieldConfig.uri}}
          %div.field.clearfix
            %label.pull-left Multivalue
            %input{type:"checkbox", "ng-model"=>"fieldConfig.multivalue"}
          %div.field.clearfix
            %label.pull-left Description
            %textarea{"ng-model"=>"fieldConfig.description"}
