.headsup.row-fluid
  .panel.search
    Search
  .panel.info.detail.selectedItems
    %div.emptyMessage{"ng-hide"=>"selectedNodes.length > 0"}
      Select a cell to see details here.
    %div{"ng-repeat"=>"node in selectedNodes"}
      .panelHeader
        %h3 {{node.title}}
      %form.node-editor
        -# fields
        %div.field.clearfix{"ng-repeat"=>"fieldConfig in currentModel.fields"}
          %label {{fieldConfig.name}}
          %input{"ng-model"=>"node.data[fieldConfig.code]", "id"=>"{{node.persistent_id+'_'+fieldConfig.code}}"}
          %a.pull-right.config-field{"onClick"=>"$('#modelField_{{fieldConfig.code}}_name').focus()"} config field
        -# associations
        %div.clearfix{"ng-repeat"=>"fieldConfig in currentModel.associations"}
          %label {{fieldConfig.name}}
          %input{"id"=>"{{node.persistent_id+'_'+fieldConfig.code}}","bindery-token-input"=>"tokeninputOptions","data-url"=>"'/matt/footest/search?model_id='+fieldConfig.references","ng-model"=>"node.associations[fieldConfig.code]", multiple:true}
          %a.pull-right.config-field{"onClick"=>"$('#modelField_{{fieldConfig.code}}_name').focus()"} config field

  .panel.info.supplemental.empty
    %div.emptyMessage{"ng-hide"=>"selectedNodes.length > 0"}
      Select a cell to see details here.
    %div{"ng-repeat"=>"node in selectedNodes"}
      .panelHeader
        %h3 {{currentModel.name}}
      %form.model-editor
        -# fields and associations
        %div.clearfix{"ng-repeat"=>"fieldConfig in currentModel.fields.concat(currentModel.associations)", "id"=>"{{'modelField_'+fieldConfig.code}}"}
          %h4 {{fieldConfig.name}}
          %div.field.clearfix
            %label.pull-left Label
            %input{"ng-model"=>"fieldConfig.name", "id"=>"{{'modelField_'+fieldConfig.code+'_name'}}"}
          %div.field.clearfix
            %label.pull-left Code
            .value {{fieldConfig.code}}
          %div.field.clearfix
            %label.pull-left Type
            %input{"ng-model"=>"fieldConfig.type"}
          %div.field.clearfix{"ngIf"=>"fieldConfig.type == 'Has Many'"}
            %label.pull-left References
            %input{"ng-model"=>"fieldConfig.references"}
          %div.field.clearfix
            %label.pull-left URI
            .value {{fieldConfig.uri}}
          %div.field.clearfix
            %label.pull-left Multivalue
            %input{type:"checkbox", "ng-model"=>"fieldConfig.multivalue"}
          %div.field.clearfix
            %label.pull-left Description
            %textarea{"ng-model"=>"fieldConfig.description"}
