.headsup.row-fluid
  .panel.search
    Search
  .panel.info.detail.empty.selectedItems
    Select a cell to see details here.
    {{selectedNode}}
  .panel.info.supplemental.empty
    Select a cell to see details here.