.headsup.row-fluid
  .panel.search
    Search
    #modelData{"data-source"=>'{"myProp": ["4","6"]}'}
  .panel.info.detail.selectedItems
    %div.emptyMessage{"ng-hide"=>"selectedNodes.length > 0"}
      Select a cell to see details here.
    %div{"ng-repeat"=>"node in selectedNodes"}
      .panelHeader
        %h3 {{node.title}}
      %form.node-editor
        -# %p Example Using the Select2 ajax property
        -# %pre Selected: {{version4model|json}}
        -# %input{"ui-select2"=>"version4", "ng-init"=>"","ng-model"=>"version4model", "style"=>"width:200px", "ng-controller"=>"NodeAssociationCtrl", value: "9c948ad0-eb1e-0130-427c-7cd1c3f26451", multiple:true}
        %div.field.clearfix{"ng-repeat"=>"fieldConfig in currentModel.fields"}
          %label {{fieldConfig.name}}
          %input{"ng-model"=>"node.data[fieldConfig.code]"}
        %div.clearfix{"ng-repeat"=>"fieldConfig in currentModel.associations", "ng-init"=>"init(fieldConfig.references)", "ng-controller"=>"NodeAssociationCtrl"}
          %label {{fieldConfig.name}}
          %input{"ui-select2"=>"select2options","ng-model"=>"associationJson", "style"=>"width:200px", value: "{{node.associations[fieldConfig.code].join(',')}}", multiple:true, style:"width:96%"}
          {{node.associations[fieldConfig.code]}}
          {{associationJson}}
  .panel.info.supplemental.empty
    %div.emptyMessage{"ng-hide"=>"selectedNodes.length > 0"}
      Select a cell to see details here.
    %div{"ng-repeat"=>"node in selectedNodes"}
      .panelHeader
        %h3 {{currentModel.name}}
      %form.model-editor
        %div.clearfix{"ng-repeat"=>"fieldConfig in currentModel.fields.concat(currentModel.associations)"}
          %h4 {{fieldConfig.name}}
          %div.field.clearfix
            %label.pull-left Label
            %input{"ng-model"=>"fieldConfig.name"}
          %div.field.clearfix
            %label.pull-left Code
            .value {{fieldConfig.code}}
          %div.field.clearfix
            %label.pull-left Type
            %input{"ng-model"=>"fieldConfig.type"}
          %div.field.clearfix{"ngIf"=>"fieldConfig.type == 'Has Many'"}
            %label.pull-left References
            %input{"ng-model"=>"fieldConfig.references"}
          %div.field.clearfix
            %label.pull-left URI
            .value {{fieldConfig.uri}}
          %div.field.clearfix
            %label.pull-left Multivalue
            %input{type:"checkbox", "ng-model"=>"fieldConfig.multivalue"}
          %div.field.clearfix
            %label.pull-left Description
            %textarea{"ng-model"=>"fieldConfig.description"}
