.headsup.row-fluid
  .panel.search
    Search
  .panel.info.detail.empty
    Select a cell to see details here.
  .panel.info.supplemental.empty
    Select a cell to see details here.

= render :partial => 'pool_searches/grid/document_grid', locals: {documents: @document_list}

#model-chooser.navbar.navbar-fixed-bottom
  .navbar-inner
    %ul.nav
      %li
        = link_to "Edit",  edit_user_registration_path