= render file:"pool_searches/headsup"
= render :partial => 'pool_searches/grid/document_grid', locals: {documents: @document_list}

#model-chooser.navbar.navbar-fixed-bottom
  .navbar-inner
    %ul.nav
      %li
        = link_to "Edit",  edit_user_registration_path