.row{style: "margin-top: 20px"}
  .span8
    .hero-unit
      %h1 Data Bindery
      %p
        Welcome to Data Bindery.  To get started, select a File Store that has files you want to describe &amp; arrange.  Currently we only support Google Drive as a File Store.  
        =link_to "Connect to Google Drive", drives_path
        and authorize Data Bindery to see your files so you can arrange them.
      %p
        =button_to "Connect to Google Drive", drives_path, :method=>:get, :class=>'btn btn-primary'
  .span4
    &nbsp;
    %h3
      Your Pools
      %span.pool-count="(#{@pools.count})"
      =link_to "New Pool", identity_pools_path(controller.current_identity.short_name, :anchor=>'new'), :class=>'btn btn-new-pool'
    %ul.pools
      -@pools.each do |pool|
        %li
          %h2=link_to(pool.name, identity_pool_path(pool.owner.short_name, pool))
          %div.body
            %p.description=pool.description
