=content_for :page_name do
  Welcome to Collect, Curate, Publish.
%h3 Exhibits
%ul
  -Exhibit.all.each do |e|
    %li=link_to e.title, exhibit_path(e)
=link_to "Create a new exhibit", new_exhibit_path, :class=>'btn primary small'

%h3 Jobs
-count = JobLogItem.count
-if count == 0
  none
-else
  %ul
    -JobLogItem.limit(10).each do |j|
      %li
        =link_to j.name, jobs_path()
        %span{:class=>'label ' + j.status.downcase}=j.status

-if count > 10 
  and #{count - 10} more

%h3 Data Models
%ul
  -Model.limit(20).each do |m|
    %li=link_to m.name, model_nodes_path(m)

%h3 Import Data
%ul
  %li
    =link_to "Upload a file", new_chattel_path

