.row{style: "margin-top: 20px"}
  .span8
    .hero-unit
      %h1 Data Bindery
      %h2 What do your data look like?
      %p To get started, create a pool and start putting data into it.
  .span4
    &nbsp;
    %h3
      Your Pools
      %span.pool-count="(#{@pools.to_a.size})" #rails 6865 workaround
      =link_to "New Pool", identity_pools_path(controller.current_identity.short_name, :anchor=>'new'), :class=>'btn btn-new-pool'
    %ul.pools
      -@pools.each do |pool|
        %li
          %h2=link_to(pool.name, identity_pool_path(pool.owner.short_name, pool))
          %div.body
            %p.description=pool.description
