.row{style: "margin-top: 20px"}
  .span1
    &nbsp;
  .span10
    .hero-unit
      %h1 Data Bindery
      %p
        Welcome to Data Bindery.  To get started, select a File Store that has files you want to describe &amp; arrange.  Currently we only support Google Drive as a File Store.  
        =link_to "Connect to Google Drive", drives_path
        and authorize Data Bindery to see your files so you can arrange them.
      %p
        =button_to "Connect to Google Drive", drives_path, :method=>:get, :class=>'btn btn-primary'
  .span1
    &nbsp;
/*%h3 Import Data*/
/*%ul*/
/*  %li*/
/*    =link_to "Upload a file", new_chattel_path*/
/**/
