.row{style: "margin-top: 20px"}
  .span8
    .hero-unit
      %h1 Data Bindery
      %h2 What do your data look like?
      %p To get started, create a pool and start putting data into it.
      %p 
        %b Disclaimer
        This is the most minimal, barely viable, pre-Beta version of DataBindery.  It's ugly, slow and incomplete, but it's a start!  I'm working on it in my spare time while paying the bills by doing freelance work on 
        %a{href: "http://projecthydra.org"} Hydra-based
        digital repository solutions through
        %a{href: "http://curationexperts.com"} Data Curation Experts
        \.  At this moment, I 
        %i cannot provide any guarantees of uptime or protection from data loss.
        Think of this as an extremely early experimental run.
      %p 
        If you want to see more features (or ongoing support), email me about pre-paying for a subscription or Hire my team through 
        %a{href: "http://curationexperts.com"} Data Curation Experts 
        and pay us to make the product amazing.
      %p 
        %b 
          %a{href:"https://vimeo.com/68724818"} Check out the walkthrough 
        of what you can currently do with DataBindery.  
      = render partial: "walkthrough_video"
      %p 
        %b If you have questions, ideas, suggestions, 
        or anything else to chime in about, sign up to the 
        %a{href:"https://groups.google.com/forum/#!forum/databindery-users"} databindery Google Group and say hello.
      
        
  .span4
    &nbsp;
    %h3
      Your Pools
      %span.pool-count="(#{@pools.to_a.size})" #rails 6865 workaround
      =link_to "New Pool", identity_pools_path(controller.current_identity.short_name, :anchor=>'new'), :class=>'btn btn-new-pool'
    %ul.pools
      -@pools.each do |pool|
        %li
          %h2=link_to(pool.name, identity_pool_path(pool.owner.short_name, pool))
          %div.body
            %p.description=pool.description
