%p
  You uploaded 
  = @chattel.attachment.url

- @spreadsheet_rows = SpreadsheetRow.all(:conditions=>{:chattel_id => params[:id]})

-if @spreadsheet_rows.count == 0
  %p Refresh until we can see the spreadsheet below: (TODO - Ajax processing bar).

-else
  %div.group
    Now create a data model(s) for the spreadsheet:
    =form_for [@chattel, MappingTemplate.new()] do |f|
      %ul
        %li
          =f.label :row_start, 'Data Begins on row: '
          =f.select :row_start, [0, 1, 2, 3, 4, 5, 6], :selected=>2
        %li
          =label_tag 'mapping_template[models][0][name]', 'Model Name: '
          =text_field_tag 'mapping_template[models][0][name]'
          TODO multiple models and select differentiator column
        %li
          Model fields:
          %table.model-fields
            %tr
              %th Field Name:
              %th Source Column:
            -0.upto(8) do |i|
              %tr
                %td=text_field_tag "mapping_template[models][0][mapping][#{i}][label]"
                %td=select_tag("mapping_template[models][0][mapping][#{i}][source]", options_for_select( 0.upto(@spreadsheet_rows[0].values.size).map{|n| (n+65).chr}), :include_blank=>true)
            
        %li
          =f.submit "Continue" 
  =render :partial=>'spreadsheet_rows/table'


