%h1 Files
%table
  %thead
    %tr
      %th Path
  %tbody
  -@chattels.each do |chattel|
    %tr
      - if chattel.spreadsheet?
        %td= link_to chattel.attachment.url, spreadsheet_row_path(chattel.id)
      - else
        %td= chattel.attachment.url

