=form_for identity_chattels_path(@identity.short_name, @chattel), :html=>{:multipart=>true} do |f|
  =f.label 'attachment', 'Upload a file:'
  .input
    =f.file_field 'attachment'
  %br
  %br
  =submit_tag "Next", :class=>'btn btn-primary'
