%table#data.scrollable
  %thead
    %tr
      %th
      -1.upto(@spreadsheet_rows[0].values.size) do |col|
        %th=(col+64).chr
  %tbody
    -@spreadsheet_rows.each do |row|
      %tr
        %td=row.row_number
        -row.values.each do |val|
          -if val.nil?
            %td &nbsp; 
          -elsif val.to_s.size > 100
            %td.wrappable=val
          -else 
            %td=val 

:javascript
  $(document).ready(function() {
    $('#data').dataTable();
  } );


