-if @worksheet.rows[0]
  %table#data.scrollable
    %thead
      %tr
        %th
        -1.upto(@worksheet.rows[0].values.size) do |col|
          %th=(col+64).chr
    %tbody
      -@worksheet.rows[0..5].each do |row|
        %tr
          %td=row.row_number
          -row.values.each do |val|
            -if val.nil?
              %td &nbsp; 
            -elsif val.to_s.size > 100
              %td.wrappable=val
            -else 
              %td=val 

-else
  Spreadsheet has not yet been processed


