<nav id="menu-nav">
  <ul id="menu-nav-tabs" class="nav nav-tabs">
    <li class="active"><a href="#models">Entities</a></li>
    <li><a href="#data-sources">Data Sources</a></li>
  </ul>
  <div id="menu-tab-content" class="tab-content"></div>
</nav>
<div id="panels"></div>

