<h2>
  <a href="/<%= window.router.identity %>/<%= short_name %>"><%= (name) ? name : id %></a>
  <a href="#edit" class="btn btn-edit-pool">Edit</a>
</h2>
<div class="body">
  <p class="description"><%= description %></p>
</div>
