= form_tag(identity_pool_spawn_jobs_path, :method => "post") do 
  = hidden_field_tag(:worksheet_id, @worksheet.id)
  = hidden_field_tag(:mapping_template_id, @mapping_template.id)
  = submit_tag("Spawn using this Template") 
