// Place all the styles related to the exhibits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

form#search {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
#q {
  width: 400px;
}

ul.exhibits {
  li {
    list-style-type: none;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    .title {
      padding: 5px;
      margin-bottom: 0;
      @include background_gradient(right, #DAFF88, #8DB437);
    }
    dl {
      width: 650px;
      display: block;
      dt {
        width: 200px;
        float: left;
        text-align: right;
        font-weight: bold;
        clear: left;
      }
      dd {
        margin-left: 10px;
        width: 440px;
        float:left;
      }
    }
  }
  dl.clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
 }
}

div.facets {
  clear: both;
}
