form {

  li {
    label {
      width: 150px;
      display: inline-block;
    }
  }
  
  &.metadata {
    input, textarea,.uneditable-input {
        width: 406px;
    }
  }

  .remove {
    font-size: 1.75em;
    padding-bottom: 0.5em;
    padding-left:0.25em;
  }

  

}
