.headsup {
  margin-top: -10px;
  .panel {
    height: 18em;
    float:left;
    border: 1px solid #777777;
    margin-left:0.25%;
    overflow-y: scroll;
    overflow-x: hidden;

    form {
      text-align: left;
      h4 { padding-left: 1em; }
    }

    .model-editor {
      label { width: 6em;}
    }
    .node-editor {
      label {
        margin-left: 1.5%;
        margin-top: 1em;
      }
      input {
        width: 96%;
        margin-left: 1.5%;
      }
    }

    .emptyMessage {
      //text-align: center;
      //height: 10em;
      margin-top: 8em;

    }
  }

  .panel.search, .panel.supplemental {
    width: 29%;
  }
  .panel.supplemental {
    text-align: center;
  }
  .panel.detail {
    text-align: center;
    width: 40.5%;
  }

}