@import "common";
body {
  background-color: #8DB437;
  @include background_gradient(top, #DAFF88, #ffffff);
  background-repeat: repeat-x;
  color: #333;
  /* text-shadow: 0 1px 0 white; */

}


.title_image {
  margin-left:auto;
  margin-right:auto;
  display: block;
  background-color: #8DB437;
  -webkit-box-shadow: rgba(0,0,0,0.07) 0 3px 2px inset;
  @include rounded(18px);
  padding-top: 3px;
  padding-right: 10px;
}

.main {
  width: 1024px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

.group {
  border: 1px solid gray;
  @include rounded(4px);
  margin-bottom: 20px;
  padding: 8px;
}

