// Place all the styles related to the mapping_templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.spacer {
  border-bottom: 1px solid gray;
  padding: 5px;
}


select.xsmall {
  width: 50px;
}

#data {
  border-collapse: collapse;
  border: 2px solid black;
  td, th {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    padding: 2px;
  }
  thead {
    background-color: #aaa;
  }
  tbody {
    tr {
      background-color: #ccc;
    }
    tr:nth-child(2n+1) {
      background-color: #f0f0f0;
    }
  }
  
}
