// Place all the styles related to the models controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "common";

.searchPane {
  float: left;
  width: 300px;
  border: 1px solid gray;
  padding: 5px;
  margin-left: 10px;

}

table.results {
  width: 100%;
  border-collapse: collapse;
  border: 1px gray
}

ul.models {
  float: left;
  width: 200px;
}

.editor {
  h2 {
    text-align: center;
  }

  h3 {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }

  .control-group {
    display: inline-block;
    margin-right: 10px;
  }

  .btn {
    margin-bottom: 9px;
  }
  
  #fields {
    @include zebra_stripe();
    width: 98%;
  }
}
