// Place all the styles related to the model_instances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.model_instances {

  li {
    list-style-type: none;
    dl {
      padding: 0.5em;
      border: 1px solid #ccc;
      margin-right: 10px;
      -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
      -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
      box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    }
  
    dt {
      float: left;
      clear: left;
      width: 200px;
      font-weight: bold;
    }
    dd {
      margin-left: 210px;
      width: 440px;
    }
  }
}
