<div class="panel-header">
  <a href="#" class="close">×</a>
  <h3>Search for <%= name %>s</h3>
</div>
<div class="panel-body">
  <form class="well form-search">
    <input id="query" type="text" class="input-medium search-query">
    <button type="submit" class="btn">Search</button>
    </fieldset>
  </form>
  <table class="results table table-bordered table-striped">
    <tr><td>Loading...</td></tr>
  </table>

  <nav>
    <ul>
      <li><span style="color: gray">Input and Output formats</a></li>
      <li><a href="/models/<%=id %>/edit">Metadata and Associations</a></li>
      <li><a class="create-new" href="/models#<%=id %>/new">Create new</a></li>
    </ul>
  </nav>
</div>
