<form class="well form-search">
  <fieldset><legend>Search for <%= name %>s</legend>
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">Search</button>
  </fieldset>
</form>
<table class="results">
  <tr><td>Hey</td><td>Mock result for <%= name %></td></tr>
  <tr><td>Foo</td><td>Another mock result for <%= name %></td></tr>
</table>
