%nav
  %ul
    %li=link_to 'Collect', root_path
    %li Curate
    %li=link_to 'Publish', exhibits_path
    %li
      Admin
      %ul
        %li
          =link_to 'Jobs', jobs_path
        %li
          =link_to 'Files', chattels_path
        %li
          =link_to 'Models', models_path

