- if notice
  -if notice.kind_of?(Array)
    - notice.each do |n|
      .alert.alert-success=n
  - else
    .alert.alert-success=notice
- if alert
  -if alert.kind_of?(Array)
    - alert.each do |a|
      .alert.alert-error=a
  - else
    .alert.alert-error=alert