!!! 5
%html
  = render :partial=>'layouts/head'

  %body.no-grad
    = render :partial=>'layouts/topbar'
    .full-width-container
      =render :partial=>'layouts/page_header'
      =render :partial=>'layouts/messages'
      = yield 
    %footer
      %p &copy; CoCuPu LLC 2013


