!!! 5
%html
  = render :partial=>'layouts/head'

  %body.margins
    = render :partial=>'layouts/topbar'
    .container
      =render :partial=>'layouts/page_header'
      .row
        .span12
          =render :partial=>'layouts/messages'
          = yield 
        .span4
          = content_for(:sidebar)

      %footer.footer
        %p &copy; CoCuPu LLC 2013



